:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background-color: #1f1f1f;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}
